<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.danielzahnewh.telegram-bot</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/danielzahnewh/.nvm/versions/node/v22.22.1/bin/node</string>
		<string>/Users/danielzahnewh/Desktop/Abiturtraining/telegram-bot/bot.js</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/danielzahnewh/Desktop/Abiturtraining/telegram-bot</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/telegram-bot.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/telegram-bot.err</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/danielzahnewh/.nvm/versions/node/v22.22.1/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
